@input-slider-width: 90%;
@input-slider-width-mobile: 110%;

main{
    margin: 0px auto;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

table{
    border-collapse: collapse;
    margin: 0px auto;
    background-color: white;
    tr{
        td{
            border-width: 1px;
            border-style: solid;
            border-color: gray;
            padding: 1.2em;
            text-align: center;
            em{
                font-weight: bold;
                font-size: 1.2em;
            }
            input{ 
                display: block;
                width: @input-slider-width;
                margin-left: (100% - @input-slider-width) / 2;
                margin-bottom: 8px;
            }
        }

        td:first-child, td:last-child{
            width: 2em;
            text-align: center;
        }

        td:first-child{
            font-family: serif;
            background-color: #eee;
        }
    }
}

@media screen and (max-width: 400px){
    table{
        margin-bottom: 120px;
    } 

    table tr td input{
        width: @input-slider-width-mobile;
        margin-left: (100% - @input-slider-width-mobile) / 2;
    }

    h2{
        margin: 0;
        padding: 1em 0;
        position: fixed;
        bottom: 0;
        background-color: rgba(255,255,255,0.8);
    }
}
