canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
main {
  margin: 0px auto;
  position: relative;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
main h1,
main h2 {
  color: white;
}
table {
  border-collapse: collapse;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.1);
}
table tr td {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  padding: 1.2em;
  text-align: center;
  color: white;
}
table tr td em {
  font-weight: bold;
  font-size: 1.2em;
}
table tr td input {
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 8px;
}
table tr td:first-child,
table tr td:last-child {
  width: 2em;
  text-align: center;
}
table tr td:first-child {
  font-family: serif;
  background-color: rgba(200, 200, 200, 0.1);
}
@media screen and (max-width: 400px) {
  table {
    margin-bottom: 120px;
  }
  table tr td input {
    width: 110%;
    margin-left: -5%;
  }
  h2 {
    margin: 0;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
