<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>The Drake Equation</title>
  <script src="js/vendor/angular.min.js" type="text/javascript"></script>
  <script src="js/main.js" type="text/javascript"></script>
</head>
<body>
  <h1>The Drake Equation</h1>
  <main ng-app="DrakeEquation">
    <div class="equation" ng-controller="equationController">
      <section>
        <em>R</em>
        <input ng-model="R" type="range" min="1" max="50" step="1" value="{{R}}"> 
        <span>{{R}}: stars formed per year in our galaxy.</span>
      </section>
      
      <section>
        <em>f<sub>p</sub></em>
        <input ng-model="fp" type="range" min="0" max="1" step="0.01" value="{{fp}}"> 
        <span>{{fp}}: fraction of the stars with planets.</span>
      </section>
      
      <section>
        <em>n<sub>e</sub></em>
        <input ng-model="n" type="range" min="1" max="7" step="1" value="{{n}}">
        <span>{{n}}: the average number of planets per star that can potentially support life.</span>
      </section>
      
      <section>
        <em>f<sub>l</sub></em>
        <input ng-model="fl" type="range" min="0" max="1" step="0.01" value="{{fl}}"> 
        <span>{{fl}}: fraction of the planets that develop life.</span>
      </section>
      
      <section>
        <em>f<sub>i</sub></em>
        <input ng-model="fi" type="range" min="0" max="1" step="0.01" value="{{fi}}"> 
        <span>{{fi}}: fraction of planets that develop intelligent life.</span>
      </section>  
      
      <section>
        <em>f<sub>c</sub></em>
        <input ng-model="fc" type="range" min="0" max="1" step="0.01" value="{{fc}}"> 
        <span>{{fc}}: fraction of civilizations that develop a technology that emits signals through space.</span>
      </section>
      
      <section>
        <em>L</em>
        <input ng-model="L" type="range" min="100" max="5000" step="100" step="0.01" value="{{L}}"> 
        <span>{{L}}: length of time in Earth years for which these civilizations emit detectable signals.</span>
      </section>
      
      <h2>{{N(R*n*fp*fl*fi*fc*L)}}</h2>
    <div>
  </main>
</body>
</html>